body {
    background-color: #e6dde2d5;
}

img {
    height: 300px;
    width: auto;
}

.card-title {
    margin-top: 10px;
    color: #b17694;
}

ul {
    list-style-type: none;
}

.card {
    border: 2px solid #b17694;
}

.separator {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #b17694;
}

.card-body {
    height: 170px;
}